[Unit]
Description = Volumio Splash
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
ExecStart=/bin/volumiosplash.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=volumio-splash
User=root
Group=root

[Install]
WantedBy=basic.target 
