[Unit]
Description = Volumio Cpu Tweaker
After=volumio.service

[Service]
ExecStart=/bin/volumio_cpu_tweak
SyslogIdentifier=volumio-cpu-tweak
User=root
Group=root

[Install]
WantedBy=multi-user.target

