[Unit]
Description = Volumio Backend Module
Wants=dynamicswap.service


[Service]
ExecStart=/usr/bin/node /volumio/index.js
Restart=always
SyslogIdentifier=volumio
User=volumio
Group=volumio
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
