[Unit]
Description=Terminate Plymouth Boot Screen
After=rc-local.service plymouth-start.service systemd-user-sessions.service volumio-kiosk.service getty.target

[Service]
ExecStart=-/bin/plymouth quit
Type=oneshot
RemainAfterExit=yes
TimeoutSec=20
