[Unit]
Description=Show Plymouth Boot Screen
DefaultDependencies=no
After=systemd-udev-trigger.service systemd-udevd.service
Before=systemd-ask-password-plymouth.service
ConditionKernelCommandLine=!plymouth.enable=0
ConditionKernelCommandLine=!nosplash
ConditionVirtualization=!container

[Service]
ExecStart=/sbin/plymouthd --mode=boot --pid-file=/run/plymouth/pid --attach-to-session
ExecStartPost=-/bin/plymouth show-splash
Type=forking
RemainAfterExit=yes
KillMode=mixed
SendSIGKILL=no
