[Unit]
Description=Terminate Plymouth Boot Screen
After=rc-local.service plymouth-start.service systemd-user-sessions.service volumio.service

[Service]
ExecStart=-/bin/plymouth quit
RemainAfterExit=yes
Type=oneshot
TimeoutSec=30
