[Unit]
Description=Plymouth switch root service
DefaultDependencies=no
ConditionPathExists=/etc/initrd-release
Before=initrd-switch-root.service

[Service]
Type=forking
ExecStart=-/bin/plymouth update-root-fs --new-root-dir=/sysroot
ExecStartPost=-/bin/plymouth show-splash
